{% extends "base.html" %}


{% block conteudo %}


<h2>Alunos Cadastrados</h2>


<p>
    <a href="/alunos/novo">Cadastrar novo aluno</a>
</p>


<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Série</th>
            <th>Turma</th>
            <th>Telefone</th>
            <th>Ações</th>
        </tr>
    </thead>


    <tbody>
        {% for aluno in alunos %}
        <tr>
            <td>{{ aluno.id_aluno }}</td>
            <td>{{ aluno.nome }}</td>
            <td>{{ aluno.serie }}</td>
            <td>{{ aluno.turma }}</td>
            <td>{{ aluno.telefone }}</td>
            <td>
                <a href="/alunos/editar/{{ aluno.id_aluno }}">Editar</a>


                |


                <a href="/alunos/excluir/{{ aluno.id_aluno }}"
                   onclick="return confirm('Deseja realmente excluir este aluno?')">
                    Excluir
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
