<!DOCTYPE html>
<html lang="pt-br">


<head>
    <meta charset="UTF-8">
    <title>Biblioteca Escolar</title>


    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>


<body>


    <header>
        <h1>Sistema Biblioteca Escolar</h1>


        <nav>
            <a href="/">Início</a>
            <a href="/alunos">Alunos</a>
            <a href="/livros">Livros</a>
            <a href="/bibliotecarios">Bibliotecários</a>
            <a href="/emprestimos">Empréstimos</a>
        </nav>
    </header>


    <main>


        {% with mensagens = get_flashed_messages(with_categories=true) %}
            {% if mensagens %}
                {% for categoria, mensagem in mensagens %}
                    <div class="mensagem {{ categoria }}">
                        {{ mensagem }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
       
        {% block conteudo %}
        {% endblock %}
    </main>



</body>
</html>

