{% extends "base.html" %}


{% block conteudo %}


<h2>Bibliotecários Cadastrados</h2>


<p>
    <a href="/bibliotecarios/novo">Cadastrar novo bibliotecário</a>
</p>


<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Ações</th>
        </tr>
    </thead>


    <tbody>
        {% for bibliotecario in bibliotecarios %}
        <tr>
            <td>{{ bibliotecario.id_bibliotecario }}</td>
            <td>{{ bibliotecario.nome }}</td>
            <td>{{ bibliotecario.email }}</td>
            <td>
                <a href="/bibliotecarios/editar/{{ bibliotecario.id_bibliotecario }}">Editar</a>


                |


                <a href="/bibliotecarios/excluir/{{ bibliotecario.id_bibliotecario }}"
                   onclick="return confirm('Deseja realmente excluir este bibliotecário?')">
                    Excluir
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
