{% extends "base.html" %}


{% block conteudo %}


<h2>Empréstimos Cadastrados</h2>


<p>
    <a href="/emprestimos/novo">Registrar novo empréstimo</a>
</p>


<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Aluno</th>
            <th>Livro</th>
            <th>Bibliotecário</th>
            <th>Data Empréstimo</th>
            <th>Previsão Devolução</th>
            <th>Data Devolução</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>


    <tbody>


        {% for emprestimo in emprestimos %}


        <tr>


            <td>{{ emprestimo.id_emprestimo }}</td>
            <td>{{ emprestimo.aluno }}</td>
            <td>{{ emprestimo.livro }}</td>
            <td>{{ emprestimo.bibliotecario }}</td>
            <td>{{ emprestimo.data_emprestimo }}</td>
            <td>{{ emprestimo.data_prevista_devolucao }}</td>
            <td>{{ emprestimo.data_devolucao }}</td>
            <td>{{ emprestimo.status }}</td>


            <td>


                {% if emprestimo.status == 'Emprestado' %}


                <a href="/emprestimos/devolver/{{ emprestimo.id_emprestimo }}">
                    Devolver
                </a>


                {% else %}


                Devolvido


                {% endif %}


            </td>


        </tr>


        {% endfor %}


    </tbody>
</table>


{% endblock %}
